
<a href="adminon">Admin</a>



<div class="bs-example">

 <link rel="stylesheet" type="text/css" href="/stylesheets/styleaudio.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-alert.js"></script>
<script type="text/javascript" src="/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/bootstrap-collapse.js"></script>
<script type="text/javascript" src="/js/bootstrap-button.js"></script>
<script type="text/javascript" src="/js/toastr.min.js"></script>


<div class="container">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Active</th>
          <th>Module Name</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	<td><input type="checkbox" id="audioStream"></td>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>


      </tbody>
    </table>

</div>
	<!-- Audio Streaming Section -->
  <audio id="player"  src="http://192.99.240.255:8010/live.mp3" controls="" autoplay="" preload autobuffer></audio>

<script type="text/javascript" src="/js/admin.js"></script>
