
   <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add Shortcuts
    </a>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Color Selector</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="shortcutTable">
                        <thead>
                            <tr>
                                <th>Shortcut</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="sc1" class="input-medium">
                                </td>
                                <td>
                                   <div class="input-group">
                                    <input type="text" value="" id="c1" class="input-medium form-control" placeholder="color1" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"/>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p id="shortcut-error-text" style="color:red;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addRow()">Add Shortcut</button>
                    <button type="button" class="btn btn-default" onclick="sendShortcuts()">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>