
<% layout('layout') -%>
<div class="title">
<p>asdasd</p>

<div id="visualizer"></div>

</div>
<script type="text/javascript">

         window.datatio= {};
         </script>


<script type="text/javascript" src="/js/sim.js"></script>
  <audio id="player"  src="" controls="" autoplay="" preload autobuffer></audio>	
<script type="text/javascript" src="/js/audiostreamerClient.js"></script>


