
<% layout('layout') -%>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<div class="title">
<p>asdasd</p>


</div>

<div id="visualizer"></div>
<script type="text/javascript">

         window.datatio= {};
         </script>


<script type="text/javascript" src="/js/sim.js"></script>
  <audio id="player"  src="" controls="" autoplay="" preload autobuffer></audio>	
<script type="text/javascript" src="/js/audiostreamerClient.js"></script>
