<h2>Modules</h2>
<h4>Audio Stream</h4>
<p>Enable <input type="checkbox" id="audioStreams"></p>
<a class="btn btn-primary btn-lg"  id="AudiStreamac"
  data-toggle="modal" data-target="#AudiStream">
  Audio Stream
</a>
<hr>
<h4>Color DJ</h4>
<p>Enable <input type="checkbox" id="scarpad"></p>
<a class="btn btn-primary btn-lg"  id="colordjoptions" data-toggle="modal" data-target="#scrapad">
  Scrach Pad
</a>
<hr>
<!--
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <td><input type="checkbox" id="audioStreamss"></td>
      <td>Audio Stream</td>
      <td>
        <a class="btn btn-primary btn-lg"  id="colordjoptions" data-toggle="modal" data-target="#scrapad">
          Scrach Pad
        </a></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Active</th>
        <th>Module Name</th>x
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" id="audioStreamss"></td>
        <td>
        </td>
      </tr>
    </tbody>
  </table> -->
  <!--    <a class="btn btn-primary btn-lg"  id="AudiStreamac"
    data-toggle="modal" data-target="#AudiStream">
    Audio Stream
  </a> -->
  <div class="modal fade" id="AudiStream" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Color Selector</h4>
        </div>
        <div class="modal-body">
           <p>Stream Url</p>
          <input type="text" id="audiostreamurl" class="input-medium">
          <div>

              <a class="btn btn-primary btn-lg"  id="enableaudion">Enable</a>
          
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="scrapad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Color Selector</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped" id="shortcutTable">
            <thead>
              <tr>
                <th>Shortcut</th>
                <th>Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" id="sc1">
                </td>
                <td>
                  <input type="text" id="c1">
                </td>
              </tr>
            </tbody>
          </table>
          <p id="shortcut-error-text" style="color:red;"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="addRow()">Add Shortcut</button>
          <button type="button" class="btn btn-default" onclick="sendShortcuts()">Send</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>