<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>VIS Color DJ</title>
    <!-- Bootstrap CSS -->
    <link href="UI/css/bootstrap.min.css" rel="stylesheet">
    <link href="UI/css/bootstrap.th.min.css" rel="stylesheet">
    <link href="UI/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="UI/js/jquery.js"></script>
    <!--Crowdsourcing scripts-->
    <script type="text/javascript" src="js/crowdsourcewebrtc/peer.min.js"></script>
    <script type="text/javascript" src="js/crowdsourcewebrtc/webrtcController.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="img/logo.png" alt="Image">VIS Color DJ</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Log out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#modules" data-toggle="tab">Modules</a>
                </li>
                <li><a href="#create-template" data-toggle="tab">Create Template</a>
                </li>
                <li><a href="#scrach-pad" data-toggle="tab">Scrach Pad</a>
                </li>
                <li><a href="#crdsource" data-toggle="tab">Crowdsourcing</a>
                </li>
            </ul>

        </div>
        <div class="tab-content">
            <div class="container tab-pane active" id="modules">
                <div class="container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Audio Stream</h3>
                        </div>
                        <div class="panel-body">

                            <div id="visualizer"></div>
                            <!-- <audio id="player"  src="http://192.99.240.255:8010/live.mp3" controls="" autoplay="" preload autobuffer></audio> -->
                            <div class="playloc"></div>
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="audiostreamurl" class="col-lg-2 control-label"></label>
                                        <div class="col-lg-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">Enable
                                                </label>
                                            </div>
                                            <input type="url" class="form-control" id="audiostreamurl" placeholder="Stream URL">
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-lg-offset-2">

                                        <span id="enableaudion" src="#" href="#" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-volume-up"></span> Enable Audio Stream</span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Color DJ</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="shortcuts">
                                        <div class="form-group">
                                            <div class="col-lg-4 col-lg-offset-2 ">
                                                <input type="text" class="form-control" id="sc1" placeholder="Key to press" pattern="^[a-zA-Z]{1,1}$">
                                            </div>
                                            <div class="col-lg-4 col-lg-offset-2">
                                                <div class="input-group demo2">
                                                    <input type="text" id="c1" class="form-control" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" />
                                                    <span class="input-group-addon"><i></i></span>
                                                </div>
                                                <script>
                                                    $(function () {
                                                        $('.demo2').colorpicker();
                                                    });
                                                </script>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-lg-offset-2 text-right">
                                        <span onclick="addRow()" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-volume-up">
                                                </span> Add Shoutcut</span>
                                        <span onclick="sendShortcuts()" type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-floppy-disk">
                                                </span> Save</span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tab-pane" id="create-template">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Templates</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="templatingtable">
                                <thead>
                                    <tr>
                                        <th>Template Name</th>
                                        <th width="20%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Template Name 1</td>
                                        <td>
                                            <a type="button" class="btn btn-warning btn-sm" data-toggle="modal" href='#edit-model'>
                                                <span class="glyphicon glyphicon-pencil">
                                                    </span> Edit Template</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Light Runs</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="campiagntbale">
                                <thead>
                                    <tr>
                                        <th>Template Name</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>----</td>
                                        <td>
                                            <a type="button" class="btn btn-warning btn-sm" data-toggle="modal" href='#edit-model'>
                                                <span class="glyphicon glyphicon-pencil">
                                                        </span> -------</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add template</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2 ">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Template name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2 ">
                                <label for="">Ratio</label>
                                <input type="text" class="form-control" id="ratio" placeholder="Ratio">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 col-lg-offset-2 ">
                                <label for="">Color 1</label>
                                <div class="input-group demo2">
                                    <input type="text" id="color1" class="form-control" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" placeholder="Color 1" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>

                            </div>
                            <div class="col-lg-4 col-lg-offset-2">
                                <label for="">Persentage 1</label>
                                <input type="number" id="per1" class="form-control" max="100" min="0" placeholder="Persentage 1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4 col-lg-offset-2 ">
                                <label for="">Color 2</label>
                                <div class="input-group demo2">
                                    <input type="text" id="color2" class="form-control" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" placeholder="Color 1" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-2">
                                <label for="">Percentage 2</label>
                                <input type="number" id="per2" class="form-control" max="100" min="0" placeholder="Persentage 2" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2 text-center">
                                <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span> Create template</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tab-pane" id="scrach-pad" tabindex="1">
                <div class="jumbotron" id="djpreview" style="height:280px; width:100%;;">

                </div>
                <div class="jumbotron" id="djstation">
                    <div class="container">
                        <h1>Scrach Pad for Color DJ</h1>
                        <p>Press the predifined keys</p>
                        <p>
                            <a class="btn btn-primary btn-lg" href="#modules" data-toggle="tab">Add keys now</a>
                            <a class="btn btn-primary btn-lg"  id="fadescarach" href="#">Fade In</a>
                           
                        </p>
                    </div>
                </div>
            </div>

            <!--Crowdsourcing-->
                <div class="container tab-pane" id="crdsource">
                <h1>Live video streaming</h1>

                <div id="video-container">
                    <div>
                        <label>Your video</label>
                        <br />
                        <video id="my-video" muted="true" autoplay class="video"></video>
                        <hr />
                        <label>Crowd</label>
                        <br />
                        <!--<video id="their-video" autoplay class="their-video"></video>-->
                        <div id="remotes"></div>
                    </div>

                    <!--Steps-->
                    <!--Information to user-->
                    <div>
                        <div id="step1">
                            <div id="step1-error row">
                                <h4><div class="alert alert-danger col-lg-9">Failed to acces the webcam and microphone.</span></h4>
                                <a href="#" id="step1-retry" class="btn btn-primary col-lg-2" style="float:right">Try again</a>
                            </div>
                        </div>

                        <hr />

                        <!--Make calls to others-->
                        <div class="row">
                            <div id="step2" class="col-lg-8">
                                <label class="col-lg-4">Your id:&nbsp;<span id="my-id"></span>
                                    <label class="label label-default">Share this id with others to connect</label>
                                </label>

                                <div class="col-lg-4">
                                    <label id="subhead" class="col-lg-4">Connect to</label>
                                    <input type="text" class="form-control col-lg-4" placeholder="Connection id" id="callto-id" />
                                    <br />
                                    <a href="#" id="make-call" class="btn btn-primary" style="float:right">Connect</a>
                                </div>
                            </div>


                            <!--Call in progress-->
                            <div id="step3" class="col-lg-4">
                                <label class="col-lg-2">Connected to:&nbsp;</label>
                                <span id="their-id" class="col-lg-10"></span>
                                <br />
                                <a href="#" id="end-call" class="btn btn-primary" style="float:right">Close all connections</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!--End of crowd sourcing-->
        </div>
    </div>
    <script>
        $(function () {
            $('.demo2').colorpicker();
        });
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="UI/js/bootstrap.min.js"></script>
    <script src="UI/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" src="/js/audiostreamerServer.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <script type="text/javascript" src="/js/module-color-dj.js"></script>


    <script id="entry-template2" type="text/x-handlebars-template">
        <div class = "form-group">
            <div class = "col-lg-4 col-lg-offset-2">
            <label></label>
            <div class="input-group demo2">
            <input type="text" id="color{{no}}" class="form-control" value="{{tcol}}"
             pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"/>
            <span class = "input-group-addon"> <i> </i></span>
            </div></div>
            <div class = "col-lg-4 col-lg-offset-2">
            <label></label>
            <input type="number" id="per{{no}}" class="form-control" max="100" min="0"  value="{{tp}}"></div>
            </div>
    </script>
    <script id="entry-template" type="text/x-handlebars-template">
                            <div class="form-group djpanel">
                              <div class="col-lg-4 col-lg-offset-2 ">
                                <input type="text" class="form-control" id="sc{{id}}" 
                                placeholder="Key to press" 
                                  value="{{s}}">
                              </div>
                              <div class="col-lg-4 col-lg-offset-2 ">
                                <div class="input-group demo2">
                                  <input type="text" id="c{{id}}" class="form-control"
                                     value="{{c}}"
                                      pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"/>
                                  <span class="input-group-addon" ><i></i></span>
                                </div>
                              </div>
                            </div>
    </script>    

    <script id="entry-template3" type="text/x-handlebars-template">
                            <div class="form-group djpanel">
                              <div class="col-lg-4 col-lg-offset-2 ">
                                    <label>Template</label>
                                <input type="text" class="form-control" 
                                    id="" value="{{s}}">
                              </div>
                              <div class="col-lg-4 col-lg-offset-2 ">
                                <div class="input-group">
                                    <label>Delay</label>
                                  <input type="text" id="" 
                                    class="form-control" value="{{c}}" />
                                  <span class="input-group-addon" ><i></i></span>
                                </div>
                              </div>
                            </div>
    </script>
    <div class="modal fade" id="edit-model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit template</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-warning">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2 ">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Template name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2 ">
                                    <label for="">Ratio</label>
                                    <input type="text" class="form-control" id="ratio" placeholder="Ratio">
                                </div>
                            </div>
                            <div class="ratios">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-stats"></span> Edit template</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->





    <div class="modal fade" id="camedit-model">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Campaign</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-warning">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2 ">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="">
                                </div>
                            </div>
                            <div class="module">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-stats"></span> Edit template</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->





</body>

</html>